/* Definições CSS globais */


:root {
  --foreground-rgb: 0, 0, 0; /* Cor do texto (preto) */
  --background-start-rgb: 255, 255, 255; /* Cor de fundo (branco) */
  --background-end-rgb: 255, 255, 255;
 }
 
 
 /* Remove margens e padding padrão, define a cor de fundo */
 body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
 }
 
 
 /* Estilos gerais para links que não estão dentro do Header/Footer */
 a {
  color: #005F41; /* Verde do IFPB para links */
  text-decoration: none;
 }
 
 
 a:hover {
  text-decoration: underline;
 }
 
 
 main {
    padding: 20px 40px;
    max-width: 1200px;
    margin: 0 auto; /* Centraliza o conteúdo principal */
 }
 
 
 /* Limpeza de estilos padrão de templates */
 * {
  box-sizing: border-box;
 }
 
 
 .container {
  text-align: center;
 }
 
 
 h1 {
  margin-bottom: 2em;
 }
 