.header {
    background-color: #005F41;
    color: white;
    padding: 15px 30px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0,0.1);

}
.link{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;

}

.titulo{
    margin: 0;
    font-size: 1.5cm;
    
}