/* app/sobre/sobre.module.css */


.main {
    min-height: 80vh;
    padding: 40px 20px;
    /* Espaço para não ficar atrás do footer fixo */
    padding-bottom: 100px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   
   
   .container {
    background-color: white;
    padding: 3rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    line-height: 1.6;
    color: #333;
   }
   
   
   .titulo {
    color: #005F41; /* Verde IFPB */
    margin-bottom: 1rem;
    font-size: 2rem;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
   }
   
   
   .subtitulo {
    color: #444;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
   }
   
   
   .texto {
    margin-bottom: 1rem;
    text-align: justify;
   }
   
   
   .lista {
    list-style-type: none;
    padding: 0;
   }
   
   
   .itemLista {
    background-color: #e9f5f0; /* Um verde bem clarinho */
    border-left: 5px solid #005F41;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 4px;
   }
   